name: Build kind node image

on:
  schedule:
    - cron: "0 */6 * * *"
  push:
    branches:
      - 'main'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
        - "1.25"
        - "1.26"
        - "1.27"
        - "1.28"
        - "1.29"
        - "1.30"
        - "1.31"
        - "1.32"
#       - "1.33"
        - "1.34"
        - "1.35"
        arch:
        - amd64
        - arm64

        include:
        - arch: amd64
          image-name: "creydr/kind-node-image"
        - arch: arm64
          image-name: "creydr/kind-node-image-arm64"
    
    timeout-minutes: 60
    permissions:
      packages: write
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: creydr
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Checkout Kubernetes
        run: |
          git clone --single-branch --branch release-${{ matrix.k8s-version }} https://github.com/kubernetes/kubernetes .

      - name: Get latest patch version
        id: latest-version
        run: echo "PATCH_VERSION=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"

      - name: Check if node image exists already
        id: image-check
        run: |
          TOKEN_B64=$(echo ${{ secrets.GITHUB_TOKEN }} | base64)
          if curl --silent --fail -o /dev/null -H "Authorization: Bearer ${TOKEN_B64}" https://ghcr.io/v2/${{ matrix.image-name }}/manifests/${{ steps.latest-version.outputs.PATCH_VERSION }}; then
            echo "Image with ${{ steps.latest-version.outputs.PATCH_VERSION }} tag exists already"
            echo "image-exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "Image with ${{ steps.latest-version.outputs.PATCH_VERSION }} tag does not exist yet"
            echo "image-exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Install KinD
        if: steps.image-check.outputs.image-exists != 'true'
        uses: helm/kind-action@v1.8.0
        with:
          install_only: true
          version: v0.31.0

      - name: Build KinD node image
        if: steps.image-check.outputs.image-exists != 'true'
        shell: bash
        run: |
          kind build node-image . --image ghcr.io/${{ matrix.image-name }}:${{ steps.latest-version.outputs.PATCH_VERSION }} --arch ${{ matrix.arch }}

      - name: Push KinD node image
        if: steps.image-check.outputs.image-exists != 'true'
        shell: bash
        run: |
          docker push ghcr.io/${{ matrix.image-name }}:${{ steps.latest-version.outputs.PATCH_VERSION }}

      - name: Push KinD latest node image
        if: steps.image-check.outputs.image-exists != 'true'
        shell: bash
        run: |
          docker image tag ghcr.io/${{ matrix.image-name }}:${{ steps.latest-version.outputs.PATCH_VERSION }} ghcr.io/${{ matrix.image-name }}:${{ matrix.k8s-version }}
          docker push ghcr.io/${{ matrix.image-name }}:${{ matrix.k8s-version }}
